<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css"><link/>
    <title>oooooouupss</title>
</head>
<body class="body">
    <div style="border: 1px black solid; width: 50%; margin: auto; text-align: center; margin-top: 10%; box-shadow: 5px 5px 1px black; border-radius: 5px; background-color: slategray; ">
    <h1 style="margin: auto; color: blue;">= "This website is temporary offline!"</h1>
    <h2 style="color: red;">= "Only Mondays to Friday, 9 am to 5pm"</h2>
</div>
</body>
</html>